{% form_theme form 'AppBundle::form_layout_no_labels.html.twig' %}
{% extends 'AppBundle::layout.html.twig' %}

{% block bodyClass %}darker{% endblock %}
{% block pageName %} - Contact{% endblock %}
{% block isContactActive %}active{% endblock %}

{% set bigColumn = 'col col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12' %}

{% block body %}
    <div class="row col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <form method="post" id="contact" action="{{ path('contact') }}" class="content-block">
            <div class="row text-center header">
                <h2>Contact</h2>
                <hr/>
            </div>

            {{ form_errors(form) }}

            <div class="{{ bigColumn }}">
                {% for field in ['senderName', 'senderEmail']
                if (attribute(form, field) is defined) %}
                    {#<div class="form-group{% if attribute(attribute(form, field), error) %} has-error{% endif %}">#}
                        {#{{ form_widget(attribute(form, field)) }}#}
                        {#{{ form_errors(attribute(form, field)) }}#}
                    {#</div>#}

                    {{ form_row(attribute(form, field)) }}
                {% endfor %}
            </div>

            <div class="{{ bigColumn }}">
                <div class="form-group">
                    <div class="form-group">
                        {{ form_widget(attribute(form, 'message')) }}
                    </div>
                </div>

                {{ form_rest(form) }}

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-4">
                        {% include 'AppBundle:form:recaptcha.html.twig' %}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-7 col-md-7 text-right">
                        <input type="submit" class="btn button-custom btn-custom-three shadow"
                               value="Send your message">
                    </div>
                </div>
        </form>
    </div>
{% endblock %}
