{% extends 'AppBundle::layout.html.twig' %}

{% set activePage = 'news' %}
{% block pageTitle %} - PHP and Docker development environment generator{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {% if content.homepage|length > 0 %}
                {% set item = content.homepage[0] %}
                <h1 class="display-3">{{ item.getTitle() }}</h1>
                <p>{{ item.getBody()|raw }}</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Generate your Docker configuration &raquo;</a></p>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for post in content.news %}
                <div class="col-md-4">
                    <h3>{{ post.getTitle() }}</h3>
                    <small class="text-muted">{{ post.getCreatedAt()|date("F jS, Y") }}</small>
                    {{ post.getBodyIntro()|raw }}

                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-secondary" href="{{ path('post', {'slug': post.getSlug()}) }}">Continue reading &raquo;</a>
                        <a class="btn btn-primary" href="{{ path('post', {'slug': post.getSlug()}) }}#comments">({{ post.getCountPostComments() }}) comment(s)</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    </div>
{% endblock %}

