{% extends 'AppBundle::layout.html.twig' %}
{% form_theme form 'AppBundle::form_layout_no_labels.html.twig' %}

{% set activePage = 'news' %}
{% block pageTitle %} - News - {{ post.getTitle() }}{% endblock %}
{% block pageDescription %}{{ post.getBodyIntro()|raw|striptags|unescape|truncate(50) }}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-3">{{ post.getTitle() }}</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{{ path('home') }}">News</a></li>
                    <li class="active">{{ post.getTitle() }} @ {{ post.getCreatedAt()|date("F jS, Y") }}</li>
                </ul>
                <div class="well">
                    {{ post.getBody()|raw }}
                </div>
                <div class="well">
                    <h4>Comments</h4>

                    {% for comment in post.getPostComments() %}
                        <div class="container">
                            <div class="row">
                                {% if comment.getPosterUrl() %}
                                    <h5>
                                        <a href="{{ comment.getPosterUrl() }}"
                                           target="_blank">{{ comment.getPosterName() }}</a>
                                    </h5>
                                {% else %}
                                    <h3>{{ comment.getPosterName() }}</h3>
                                {% endif %}
                                <small class="text-muted">{{ comment.getCreatedAt()|date("F jS, Y, H:i") }}</small>

                                <div class="">
                                    {{ comment.getBody()|nl2br }}
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% else %}
                        <p>No comments on this post</p>
                    {% endfor %}

                    {% include 'AppBundle:Post:post-comment-form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}