{% form_theme form 'AppBundle::form_layout_no_labels.html.twig' %}

<form method="post" id="post-comment" action="{{ path('post', {'slug': post.getSlug()}) }}#post-comment">
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.posterName) }}
        </div>
        <div class="col-md-8">
            {{ form_row(form.posterUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.body) }}
        </div>
    </div>

    {{ form_rest(form) }}

    <div class="row">
        <div class="col-lg-4 col-md-5">
            {% include 'AppBundle:form:recaptcha.html.twig' %}
        </div>
        <div class="col-lg-8 col-md-7 text-right">
            <input type="submit" class="btn btn-primary" value="Add reply">
        </div>
    </div>
</form>
