{% use "tailwind_2_layout.html.twig" %}

{% block form_row -%}
    <div class="form-group mb-4{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block checkbox_row -%}
    <div class="checkbox mb-3{% if not valid %} has-error{% endif %}">
        <div class="flex items-center gap-3">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
        </div>
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row %}

{% block form_label -%}
    {% if label is not same as(false) %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-label')|trim}) %}
        {{- parent() -}}
    {% endif %}
{%- endblock form_label %}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="mt-1 list-none p-0">
            {%- for error in errors -%}
                <li class="form-error">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors %}

{% block widget_attributes -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-input')|trim}) -%}
    {{- parent() -}}
{%- endblock widget_attributes %}

{% block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-select')|trim}) -%}
    {{- parent() -}}
{%- endblock choice_widget_collapsed %}
