{% form_theme form 'form_layout.html.twig' %}
{% extends 'layout.html.twig' %}

{% set activePage = 'generator' %}
{% block pageTitle %} - Generator{% endblock %}

{% set formGroupClass = 'group' %}

{% set bigColumn = 'col col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12' %}
{% set halfColumn = 'col col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12' %}

{% block body %}
    <form method="post" id="generator" action="{{ path('generator') }}">
        <div class="row">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="{{ formGroupClass }} {{ bigColumn }}">
                <h3>Global configuration</h3>
                <div class="row">
                    {% for field in ['name', 'basePort'] %}
                        {% if (attribute(form, field) is defined) %}
                            <div class="col col-lg-6 col-md-6">{{ form_row(attribute(form, field)) }}</div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="row">
                    {% for field in ['applicationType', 'uploadSize'] %}
                        <div class="col col-lg-6 col-md-6">{{ form_row(attribute(form.applicationOptions, field)) }}</div>
                    {% endfor %}
                </div>
                <div class="col col-lg-6 col-md-6 note">
                    <p>Note: if you want to use Phalcon, select "generic" application type, then look for Phalcon on the
                        list of PHP extensions.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="{{ formGroupClass }} {{ bigColumn }}">
                <h3>PHP configuration</h3>

                <div class="col col-lg-6 col-md-6">
                    {{ form_row(attribute(form.phpOptions, 'version')) }}
                    {{ form_row(attribute(form.phpOptions, 'hasGit')) }}

                    <div class="note">
                        <p>Please note:</p>
                        <ul>
                            <li>The following extensions are already included on the base image: APC,
                                cURL, JSON, Sodium, MBString, OPCache, Readline, XML and Zip.
                            </li>
                            <li>Each PHP version supports a different set of extensions to the others.</li>
                            <li>Adding git to the container adds ~75MB to it.</li>
                        </ul>
                    </div>
                </div>

                <div class="col col-lg-6 col-md-6">
                    {{ form_row(attribute(form.phpOptions, 'phpExtensions80')) }}

                    {{ form_row(attribute(form.phpOptions, 'phpExtensions74')) }}

                    {{ form_row(attribute(form.phpOptions, 'phpExtensions73')) }}

                    {{ form_row(attribute(form.phpOptions, 'phpExtensions72')) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="{{ formGroupClass }} {{ halfColumn }}">
                <h3>MySQL</h3>
                {{ form_widget(attribute(form.mysqlOptions, 'hasMysql')) }}

                <div id="mysql-options">
                    {% for field in ['version', 'rootPassword', 'databaseName', 'username', 'password'] %}
                        {% if (attribute(form.mysqlOptions, field) is defined) %}
                            {{ form_row(attribute(form.mysqlOptions, field)) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="{{ formGroupClass }} col col-md-5 col-lg-5 col-sm-12 col-xs-12">
                <h3>MariaDB</h3>
                {{ form_widget(attribute(form.mariadbOptions, 'hasMariadb')) }}

                <div id="mariadb-options">
                    {% for field in ['version', 'rootPassword', 'databaseName', 'username', 'password'] %}
                        {% if (attribute(form.mariadbOptions, field) is defined) %}
                            {{ form_row(attribute(form.mariadbOptions, field)) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="{{ formGroupClass }} {{ halfColumn }}">
                <h3>Postgres</h3>
                {{ form_widget(attribute(form.postgresOptions, 'hasPostgres')) }}

                <div id="postgres-options">
                    {% for field in ['version', 'rootUser', 'rootPassword', 'databaseName'] %}
                        {% if (attribute(form.postgresOptions, field) is defined) %}
                            {{ form_row(attribute(form.postgresOptions, field)) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="{{ formGroupClass }} col col-md-5 col-lg-5 col-sm-12 col-xs-12">
                <h3>Elasticsearch</h3>
                {{ form_widget(attribute(form.elasticsearchOptions, 'hasElasticsearch')) }}
                <div id="elasticsearch-options">
                    {{ form_row(attribute(form.elasticsearchOptions, 'version')) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="{{ formGroupClass }} col col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-12 col-xs-12">
                <h3>Zero-config Services</h3>
                <p class="note">The following services take no additional configuration parameters.</p>

                {% for field in ['hasMemcached', 'hasRedis', 'hasMailhog', 'hasClickhouse'] %}
                    {% if (attribute(form, field) is defined) %}
                        <div class="form-group">{{ form_widget(attribute(form, field)) }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="row">
            <div class="col col-lg-4 col-lg-offset-4">
                <div class="text-center">
                    <input type="submit" class="btn button-custom btn-custom-three shadow"
                           value="Generate project archive">
                </div>
            </div>
        </div>
    </form>
{% endblock %}
