{% form_theme form 'AppBundle::form_layout.html.twig' %}
{% extends 'AppBundle::base2.html.twig' %}

{% block bodyClass %}bob{% endblock %}

{% block body %}
    <form method="post" action="{{ path('generator') }}" class="">
        <div class="row text-center header">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Define your environment</h2>
                <hr/>
            </div>
        </div>

        {{ form_errors(form) }}

        {% for field in ['name', 'basePort']
        if (attribute(form, field) is defined) %}
            {{ form_row(attribute(form, field)) }}
        {% endfor %}

        <h3>PHP Options</h3>
        {{ form_widget(attribute(form.phpOptions, 'isSymfonyApp')) }}
        {{ form_row(attribute(form.phpOptions, 'phpExtensions')) }}
        <br clear="all">

        <h2>Services</h2>
        {% for field in ['hasMemcached', 'hasRedis', 'hasMailhog']
        if (attribute(form, field) is defined) %}
            {{ form_widget(attribute(form, field)) }}
        {% endfor %}

        {{ form_widget(attribute(form.mysqlOptions, 'hasMysql')) }}

        <div id="mysql-options">
            {% for field in ['rootPassword', 'databaseName', 'username', 'password']
            if (attribute(form.mysqlOptions, field) is defined) %}
                {{ form_row(attribute(form.mysqlOptions, field)) }}
            {% endfor %}
        </div>

        {{ form_rest(form) }}
        <input type="submit" class="btn button-custom btn-custom-one">
    </form>
{% endblock %}
